@model CayCanh.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/public/icon-font/fontawesome.com/css/all.min.css" />
    ;
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger">
                            THÊM SẢN PHẨM
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-success btn-sm" type="submit"><i class="fa-solid fa-floppy-disk"></i>Lưu</button>
                        <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info">
                            <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="md-3">
                            <label for="name"> Tên sản phẩm </label>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="md-3">
                            <label for="name"> Chi tiết sản phẩm </label>
                            @Html.EditorFor(model => model.Detail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="MetaKey"> Từ khóa SEO </label>
                            @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="MetaDesc"> Mô tả sản phẩm </label>
                            @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ParentId"> Mã loại sản phẩm </label>
                            @Html.DropDownListFor(model => model.CatId, (SelectList)ViewBag.ListCatId, "None", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="Price">Giá sản phẩm</label>
                            <input name="data[Price]" value="<?php echo $row['Price']; ?>" type="number" min="1000" max="1000000000" step="100" required class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="PriceSale">Giá sale</label>
                            <input name="data[PriceSale]" value="<?php echo $row['PriceSale']; ?>" type="number" min="1000" max="1000000000" step="100" required class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="Number">Số lượng sản phẩm</label>
                            <input name="data[Number]" type="number" id="Number" step="1" class="form-control">

                            <div class="mb-3">
                                <label for="Img"><strong>Chọn hình ảnh</strong></label>
                                <input name="Img" type="file" class="input-group"/>
                            </div>
                            <div class="form-group">
                                <label for="Status"> Trạng thái </label>
                                @Html.DropDownListFor(
                                    model => model.Status,
                            new[] {
                                new SelectListItem {Text="Chưa xuất bản", Value="2"},
                                new SelectListItem {Text="Xuất bản", Value="1"},
                            },
                            null,
                            new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-success btn-sm" type="submit"><i class="fa-solid fa-floppy-disk"></i>Lưu</button>
                <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info">
                    <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
                </a>
            </div>
        </div>
    </section>
}
