
@model IEnumerable<CayCanh.Models.Page>

@{
    ViewBag.Title = "Tất cả trang đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/public/icon-font/fontawesome.com/css/all.min.css" />
    ;
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        TẤT CẢ TRANG ĐƠN
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Create","Page")" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-plus"></i>Thêm
                    </a>
                    <a href="@Url.Action("Trash","Page")" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>Thùng rác
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @Html.Partial("Message")
            <table class="table table-bordered">
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th style="width:150px;" class="text-center">Tên trang đơn</th>
                    <th style="width:150px;" class="text-center">Slug</th>
                    <th style="width:150px;" class="text-center">Chức năng</th>
                    <th style="width:20px;" class="text-center">Id</th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td class="text-center">
                    <input type="checkbox" />
                </td>
                <td>@item.Name</td>
                <td>@item.Slug</td>
                @*<td>@item.Position</td>*@
                @*<td class="text-center">@item.CreateAt</td>*@
                <td class="text-center">
                    @if (item.Status == 1)
                    {
                        <a href="@Url.Action("Status","Page",new { id = item.Id })
                                   " class="btn btn-sm btn-success">
                            <i class="fa-solid fa-toggle-on"></i>
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Status","Page",new { id = item.Id })
                                   " class="btn btn-sm btn-danger">
                            <i class="fa-solid fa-tongle-off"></i>
                        </a>
                    }
                    <a href="@Url.Action("Edit","Page",new { id = item.Id })" class="btn btn-sm btn-success">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="@Url.Action("Details","Page",new { id = item.Id })" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="@Url.Action("Delete","Page",new { id = item.Id })" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>

                </td>
                <td class="text-center">@item.Id</td>
            </tr>
                }
            </table>
        </div>
        <div class="card-footer text-right">
            <a href="@Url.Action("Create","Page")" class="btn btn-sm btn-success">
                <i class="fa-solid fa-plus"></i>Thêm
            </a>
            <a href="@Url.Action("Trash","Page")" class="btn btn-sm btn-danger">
                <i class="fa-solid fa-trash"></i>Thùng rác
            </a>
        </div>
    </div>
</section>
