@model IEnumerable<CayCanh.Models.User>

@{
    ViewBag.Title = "Thùng rác User";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/public/icon-font/fontawesome.com/css/all.min.css" />
;
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        THÙNG RÁC USER
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index","User")" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th style="width:100px;" class="text-center">Hình ảnh</th>
                    <th style="width:100px;" class="text-center">Tên User</th>
                    <th style="width:100px;">UserName</th>
                    <th style="width:100px;">Password</th>
                    <th style="width:20px;" class="text-center">Email</th>
                    <th style="width:20px;" class="text-center">Phone</th>
                    <th style="width:100px;" class="text-center">Chức năng</th>
                    <th style="width:20px;" class="text-center">Mã loại</th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td class="text-center">
                    <input type="checkbox" />
                </td>
                <td>
                    <img src="~/public/image/slider/@item.Img" class="img-fluid" />
                </td>
                <td>@item.Name</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td class="text-center">@item.CreateAt</td>
                <td class="text-center">
                    <a href="@Url.Action("Restore","User",new { id = item.Id }))" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-rotate-left"></i>
                    </a>
                    <a href="@Url.Action("Destroy","User",new { id = item.Id }))" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
                <td class="text-center">@item.Id</td>
            </tr>
                }
            </table>
        </div>
        <div class="card-footer text-right">
            <a href="@Url.Action("Index","User")" class="btn btn-sm btn-info">
                <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
            </a>
        </div>
    </div>
</section>
