@model IEnumerable<CayCanh.Models.Post>

@{
    ViewBag.Title = "Thùng rác bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    <link rel="stylesheet" href="~/public/icon-font/fontawesome.com/css/all.min.css" />
    ;
}
<section class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        THÙNG RÁC BÀI VIẾT
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Index","Post")" class="btn btn-sm btn-info">
                        <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width:20px;" class="text-center">#</th>
                    <th style="width:20px;" class="text-center">Id</th>
                    <th style="width:20px;" class="text-center">Hình ảnh</th>
                    <th style="width:20px;" class="text-center">Tên bài viết</th>
                    <th style="width:20px;" class="text-center">Link</th>
                    <th style="width:20px;" class="text-center">Chi tiết bài viết</th>
                    <th style="width:200px;" class="text-center">Chức năng</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" />
                        </td>
                        <td>@item.Name</td>
                        <td>@item.Slug</td>
                        <td class="text-center">@item.CreateAt</td>
                        <td class="text-center">
                            <a href="@Url.Action("Restore","Post",new { id = item.Id }))" class="btn btn-sm btn-info">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                            <a href="@Url.Action("Destroy","Post",new { id = item.Id }))" class="btn btn-sm btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                        <td class="text-center">@item.Id</td>
                    </tr>
                }
            </table>
        </div>
        <div class="card-footer text-right">
            <a href="@Url.Action("Index","Post")" class="btn btn-sm btn-info">
                <i class="fa-solid fa-rotate-left"></i>Quay về danh sách
            </a>
        </div>
    </div>
</section>

